$NU_Warm_Grey_Med: #BAB0A5;
$NU_Logo_Grey: #2B2929;
$NU_Black: #000000;
$NU_Orange: #EA9919;
$NU_Yellow: #FFCC00;

@font-face{
    font-family: DIN;
    src: 'font/DIN Light Regular.otf';
}

* {
    border: 1px solid $NU_Black;
}

html {
    background-color: $NU_Logo_Grey;
}

.nav-wrapper {
    background-color: $NU_Black;
    padding: 7px;
}

.nav-logo{
    float: left;
}

.nav-logo>a>img{
    width: 100px;
    height: auto;
}

.nav-icon {
    max-height: 50px;
    margin-top: 5px;
}

.nav-buttons>ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav-item-content{
    background-color: $NU_Yellow;
    float: left;
    margin: 0 0 0 5px;
    padding: 15px 0;
    text-transform: uppercase;
    font-family: 'DIN';
    font-weight: bold;
    color: $NU_Black;
    text-decoration: none;
    width: 100px;
    height: 70px;
}

body {
    margin: 0;
}

.main-container {
    display: flex;
    width: 60%;
    margin: auto;
}