$NU_Warm_Grey_Med: #BAB0A5;
$NU_Logo_Grey: #2B2929;
$Supported_Black: #000000;
$NU_Orange: #EA9919;
$NU_Yellow: #FFCC00;

@font-face{
    font-family: DIN;
    src: 'font/DIN Light Regular.otf';
}

@font-face {
    font-family: DIN-bold;
    src: 'font/DIN Bold.otf';
}

* {
    border: 1px solid $Supported_Black;
}

html {
    background-color: $NU_Logo_Grey;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $Supported_Black;
    padding: 7px;
}

.nav-logo{
    float: left;
    
    &>a>img{
        width: 100px;
        height: auto;
    }
}

.nav-icon {
    max-height: 50px;
    margin-top: 5px;
}

.nav-buttons>ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav-item-content{
    background-color: $NU_Yellow;
    float: left;
    margin: 0 0 0 5px;
    padding: 15px 0;
    border-radius: 0 0 25px 0;
    text-transform: uppercase;
    font-family: 'DIN';
    font-weight: bold;
    color: $Supported_Black;
    text-decoration: none;
    width: 100px;
    height: 70px;
}

body {
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 20px;
    margin: auto;
    background-color: $NU_Warm_Grey_Med;
}

h1 {
    text-transform: uppercase;
    font-family: 'DIN';
    font-weight: bold;
    color: $Supported_Black;
    text-decoration: none;

    &>strong {
        font-family: 'DIN-bold'
    }
}

.index-content {
    display: flex;
    flex-direction: row;

}

.landing-image {
    background-image: url("../imgs/room201.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    max-height: auto;
    border-radius: 0 0 0 45px;

     &>img{
         visibility: hidden;
         width: 100%;
         height: auto;
     }
}